

<h1 class="mt-5">Welcome <b><%= current_user.name %></b></h1>
<p class="lead">
  Here we process Brazilian Health Ministry raw <code>SRAG</code> files to
  try to gain insight about how the vaccination program is doing overall.
</p>
<br/>
<p>Go to <a href="#">SRAG</a> and add a new entry to start the magic</p>
