//= require notifybar

.main {
  margin-top: 40px * 2;
}

.footer {
  .text {
    color: #BBB;
  }
}

.navbar-brand {
  color: #AAA;
  .hl { color: #DDD; }

  :hover {
    color: #FFF;
  }
}

.table {
  tbody {
    tr:last-child {
      td {
        border-bottom-color: #999;
      }
    }
  }

  tr.deleted {
    color: #BBB;
  }
}

.list-header {
  margin-bottom: 20px;
}

.fadded-secondary-action {
  padding-left: 0.5em;
  display: inline-block;
  .bt {
    padding-left: 0.5em;
    color: #777;
    text-decoration: none;
    &:hover { color: #333; }
  }
}

.resultset-info {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 16px;
}

.search-info {
  font-style: italic;
  margin-bottom: 18px;
  .bt-edit {
    font-size: 0.8em;
    padding-left: 6px;
  }
  a:hover {
    cursor: pointer;
  }
}

.form-disabled-field {
  .form-label { color: #AAA; }
  .form-text { color: #BBB; }
}
