

.main-title {
  font-family: monospace;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 24px;
}

.foot-lead {
  font-size: 14px;
  .monospaced {
    font-family: monospace !important;
  }
  margin: 30px 0 18px 0;
  opacity: 0.6;
}

.year {
  margin-bottom: 24px;
  width: 80%;
}

.section {
  margin-bottom: 42px;

  .title {
    i {
      font-family: monospace;
      font-size: 14px;
      font-weight: bold;
      color: #999;
      display: inline-block;
      margin-left: 6px;
      position: relative;
      top: -3px;
      background: #EEE;
    }
  }

  .graph-canvas {
    height: 200px;
    margin-bottom: 6px;
  }

  .table {
    th, td {
      font-size: 12px;
    }

    tbody td {
      font-family: monospace;
    }

    .fade {
      opacity: 1;
      color: #777;
    }
    
    .bad { color: #510008; }
    .good { color: #183c00; }
  }
}


.notary-report {
  .section {
    margin-bottom: 48px;
    .table th, td {
      font-size: 13px;
    }
    .title { font-size: 22px; }
  }
}
