
<h1 class="mt-5">Processing File</h1>
<p class="lead">
  We scheduled the <code><%= @srag.url %></code> release in
  <b><b><%= @srag.release_date %></b></b> to be downladed and ingested by Coronalytics.
</p>
<br/>
<p>Back to <%= link_to 'SRAG', admin_srags_path %></p>
