<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="text">
           Coronalytics © 2022 — SRAG and Coronavirus Data
        </span>
      </div>
    </div>
  </div>
</footer>
